/*-----------------------------------*\ 
  #HEADER
\*-----------------------------------*/

.header { 
    background-color: var(--bright-green, #5b98c958);
    padding-inline: 20px;
    padding-top: 10px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .header > *p {
    font-size: 0.75rem;
  }
  
  .header .left-container{
    display: flex;
    align-items: center;
  }
  
  .header .left-container > * {
    float: left;
    padding-right: 20px;
  }
  
  /* right container */
  .header .right-container {
    display: flex;
    align-items: center;
    float: right;
  }

  

  
  .header .right-container > * {
    float: right;
    padding-right: 25px;
  }

  /* Why this cannot make sense */
  /* .header .right-container > *:hover {
    -webkit-text-fill-color: #0084ff;
    cursor: pointer;
    text-decoration: underline;
  } */
  .header .right-container >.link > a {
    -webkit-text-fill-color: #000000;
  }

  .header .right-container >.link > a:hover {
    -webkit-text-fill-color: #0084ff;
    cursor: pointer;
    text-decoration: underline;
  }
  
